/* Bootstrap Layout */

$body-bg:  #505050;
$body-color:    #FFFFFF;
$inverse-bg:    #FFFFFF;
$inverse-color: #000000;

$font-size-h1: 2.4rem;
$font-size-h2: 1.2rem;
$font-size-h3: 1.4rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;

$headings-color: #FFFFFF;
$headings-font-weight: 1500;
    
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-image:url('../img/bg1920dark.jpg');
    background-position:center middle;
    padding:2rem;    
}
.linkespalte {
    text-align:center; 
}

@include media-breakpoint-up(lg) {
    .linkespalte {
        text-align:right;
    }    
}
@include media-breakpoint-down(md) {
    .linkespalte {
        width:32rem;
        margin:0.1rem auto 2rem auto;
    }  
    .rechtespalte {
        width:18rem;
        margin:2rem auto;
    }     
}
a {
    color: #FFA848;
    font-weight:bold;
    text-decoration:underline;    
}
a:hover,a:active, a:visited {
    color: #D08020;
    text-decoration:none;    
}
#instafeed {
    background-image:url('../img/phone.png');
    background-position:top center;
    background-repeat:no-repeat;
    position: relative;
    width:300px;
    height:680px;
    margin:0 auto;
    padding:100px 0;
    color:#808080;
}
.instaheader {
    background-color:#FFFFFF;
    position:absolute;
    top:100px;
    left:10px;
    padding:0 10px;
    width:280px;
    height:500px;
}
.instaheader h4 {
    position:absolute;
    font-weight:300;
    top:25px;
    left:125px;
    color:#505050;    
}
.instaheader strong {
    font-size:1rem;
    font-weight:900;
}
.instaheader img {
    position:absolute;
    top:15px;
    left:30px;
    width:75px;
    height:75px;
}
.instafeeditem {
    width:270px;
    height:390px;
    position:absolute;
    top:210px;
    left:15px;
    opacity:0;
    transition:opacity 1s ease;
    background-color:#FFFFFF;   
    overflow:hidden;
    padding-bottom:5px;  
}
.instafeeditem img {
    width:270px;
}
.instafeeditem p {
    padding:8px 20px 3px 20px;    
    font-weight:900;
    font-size:0.8rem;
    margin-bottom:0;    
}
.instafeeditem .instacreated {
    float:right;
    font-weight:300;
    padding-top:11px;
}
.instafeeditem .instalikes {
    font-size:0.9rem;
    padding-top:10px;
}
.instafeeditem .instacaption {
    padding-top:5px;
}
.kontakt {
    padding-left:40px;
}
.kontakt li {
    margin-bottom:1rem;
    padding-top:0.3rem;    
}